.tableWrapper {
  margin-bottom: 40px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.innerCheckboxesWrapper {
  display: flex;
  flex-direction: column;
  height: 200px !important;
  flex-wrap: wrap;

    @media (max-width: 670px) {
    height: 250px !important;
  }
}

.additionalCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.addButtonBlock {
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.editButton {
  margin-top: 20px;

  @media (max-width: 740px) {
    margin-top: 10px;
  }
}