@import '../../../../styles/index.scss';

.container {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba($darkPurple, 0.25);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.innerWrap {
  width: 72%;
  max-width: 1030px;
  height: 535px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;

  @media (min-width: 1051px) and (max-width: 1300px) {
    height: 500px;
  }

  @media (min-width: 736px) and (max-width: 1050px) {
    height: 350px;
  }

  @media (min-width: 601px) and (max-width: 735px) {
    width: 575px;
    height: 350px;
  }

  @media (min-width: 280px) and (max-width: 600px) {
    height: 350px;
    border-radius: 5px;
  }

  @media (min-width: 280px) and (max-width: 450px) {
    height: 300px;
    width: 92%;
  }
}

.imgWrap {
  width: 41%;
  height: 100%;
  position: relative;

  @media (min-width: 280px) and (max-width: 600px) {
    width: 10%;
  }
}

.backgroundImg {
  width: 100%;
  height: 100%;
  background-color: $lightPurple;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: 280px) and (max-width: 600px) {
    border-radius: 5px 0 0 5px;
    opacity: 0.2;
  }
}

.additionalImg {
  width: 401px;
  height: 535px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: 280px) and (max-width: 1300px) {
    width: 350px;
    height: 467px;
  }

  @media (min-width: 280px) and (max-width: 1050px) {
    width: 250px;
    height: 334px;
  }

  @media (min-width: 280px) and (max-width: 600px) {
    display: none;
  }
}

.content {
  width: 59%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;

  @media (min-width: 280px) and (max-width: 1185px) {
    padding: 20px;
  }

  @media (min-width: 280px) and (max-width: 600px) {
    width: 90%;
  }
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  @media (min-width: 1051px) and (max-width: 1185px) {
    top: 20px;
    right: 20px;

    svg {
      width: 20px;
    }
  }

  @media (min-width: 280px) and (max-width: 1050px) {
    top: 10px;
    right: 15px;

    svg {
      width: 20px;
    }
  }

  @media (min-width: 280px) and (max-width: 735px) {
    top: 10px;
    right: 15px;

    svg {
      width: 15px;
    }
  }
}

.name {
  font-family: $fontMontserrat;
  font-weight: $regular;
  font-size: 35px;

  @media (min-width: 1051px) and (max-width: 1185px) {
    font-size: 30px;
  }

  @media (min-width: 280px) and (max-width: 1050px) {
    font-size: 25px;
  }

  @media (min-width: 280px) and (max-width: 450px) {
    font-size: 20px;
  }
}

.position {
  font-family: $fontMontserrat;
  font-weight: $regular;
  font-size: 20px;
  margin-top: 15px;

  @media (min-width: 1051px) and (max-width: 1185px) {
    font-size: 18px;
    margin-top: 10px;
  }

  @media (min-width: 280px) and (max-width: 1050px) {
    font-size: 16px;
  }

  @media (min-width: 280px) and (max-width: 450px) {
    margin-top: 10px;
    font-size: 14px;
  }
}

.line {
  width: 82%;
  height: 2px;
  background-color: $darkPurple;
  margin-top: 30px;

  @media (min-width: 451px) and (max-width: 1185px) {
    margin-top: 20px;
  }

  @media (min-width: 280px) and (max-width: 450px) {
    margin-top: 15px;
    height: 1px;
  }
}

.description {
  margin-top: 20px;

  p {
    font-family: $fontMontserrat;
    font-weight: $light;
    font-size: 20px;
    text-align: left;
    line-height: 150%;

    @media (min-width: 1186px) and (max-width: 1300px) {
      font-size: 18px;
      line-height: 130%;
    }
    @media (min-width: 280px) and (max-width: 1185px) {
      font-size: 16px;
    }
    @media (min-width: 280px) and (max-width: 1050px) {
      font-size: 12px;
      line-height: 130%;
    }

    @media (min-width: 280px) and (max-width: 450px) {
      font-size: 10px;
    }
  }

  p:first-child {
    margin-bottom: 20px;
  }

  @media (min-width: 280px) and (max-width: 1185px) {
    margin-top: 15px;

    p:first-child {
      margin-bottom: 10px;
    }
  }
}

.socialNetworks {
  height: 30px;

  svg path {
    fill: $darkPurple;
  }

  svg:first-child {
    margin-right: 20px;
  }

  @media (min-width: 1051px) {
    margin-top: 20px;
  }

  @media (min-width: 280px) and (max-width: 1050px) {
    height: 20px;

    svg {
      width: 20px;
    }

    svg:first-child {
      margin-right: 10px;
    }
  }

  @media (min-width: 280px) and (max-width: 450px) {
    margin-top: 0;
  }
}
