.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.additionalCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}
