// colors
$darkPurple: #682C8F;
$lightPurple: #EBE6ED;
$grayBackground: #F4F3F3;

// fonts
$fontNunito: 'Montserrat', sans-serif;

//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;


//font-size
$font_14px: 14px;
$font_18px: 18px;
$font_20px: 20px;
$font_24px: 24px;
$font_26px: 26px;  // delete it
$font_35px: 35px;
$font_40px: 40px;
$font_45px: 45px;
$font_48px: 48px;
$font_55px: 55px;
