@import '../../../styles/index.scss';

.wrap {
  border-bottom: 1px solid $lightPurple;

  @media (min-width: 280px) and (max-width: 590px) {
    padding-bottom: 20px;
  }
}

.container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @include layout;

  @media (min-width: 591px) and (max-width: 740px) {
    height: 100px;
  }

  @media (min-width: 280px) and (max-width: 590px) {
    flex-direction: column;
    height: 175px;
  }
}

.logoWrap {
  width: 14%;
  max-width: 182px;
  @media (min-width: 591px) and (max-width: 1150px) {
    min-width: 120px;
  }

  @media (min-width: 280px) and (max-width: 590px) {
    width: 100px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  a {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: $fontMontserrat;
    font-weight: $regular;
    color: black;

    @media (min-width: 741px) and (max-width: 1150px) {
      font-size: 14px;
    }
    @media (min-width: 280px) and (max-width: 970px) {
      height: 25px;
    }

    @media (min-width: 280px) and (max-width: 740px) {
      font-size: 10px;
    }
  }

  @media (min-width: 280px) and (max-width: 970px) {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
  }
}

.address {
  padding-right: 35px;
  border-right: 3px solid $darkPurple;

  @media (min-width: 280px) and (max-width: 1150px) {
    padding-right: 25px;
  }

  @media (min-width: 280px) and (max-width: 970px) {
    border: none;
    width: auto;
    padding: 0;
  }
}

.phone {
  padding-left: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 280px) and (max-width: 1150px) {
    padding-left: 25px;
  }

  @media (min-width: 280px) and (max-width: 970px) {
    border: none;
    width: auto;
    padding: 0;
  }
}
.authButtons {
  display: flex;

  .leftButton {
    margin-right: 10px;
  }
}
