.selected {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
}

.box {
  display: flex;
  justify-content: flex-start;
}

.tabpanel {
  width: 95%;
  padding: 10px;

    @media (min-width: 461px) and (max-width: 870px) {
    width: 90%;
  }

  @media (max-width: 460px) {
    width: 88%;
    padding: 0 0 10px 5px !important;
  }

  .box {
    @media (max-width: 460px) {
      padding: 5px !important;
    }
  }
}
