@import '../../../../../../../styles/index.scss';

.inputsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

    @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.additionalCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

    @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.tagsWrapper {
  margin: 20px 0;
}

.newTagInputsWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;

      @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.addButtonBlock {
  margin-left: 20px;
}

.chipsStack {
  margin-bottom: 20px;

      @media (max-width: 740px) {
    margin-bottom: 10px;
  }
}
