@import '../../../styles/index.scss';

.button {
  cursor: pointer;
  border: 1px solid $darkPurple;
  color: $darkPurple;
  @include secondaryMarginTop;
  padding: 25px 35px;
  font-family: $fontMontserrat;
  font-weight: $regular;
  font-size: 20px;

  &:hover {
    color: white;
    background-color: $darkPurple;
  }
}
